body {
  text-align: center;
}

#grid {
  display: inline-block;
}

.column {
  display: inline-block;
  background-color: black;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
  box-sizing: border-box;
}
.row {
  display: block;
  width: 100%;
  font-size: 0;
}
@keyframes hover {
  0% {
    background: black;
  }
  100% {
    background: greenyellow;
  }
}
#grid div {
  animation-name: hover;
  animation-duration: 100ms;
  animation-fill-mode: forwards;
  animation-play-state: paused;
}

#grid div:active,
#grid div:focus,
#grid div:hover {
  animation-fill-mode: backwards;
  animation-play-state: running;
}
